
# Created by https://www.gitignore.io/api/nuxtjs,firebase
# Edit at https://www.gitignore.io/?templates=nuxtjs,firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### Nuxtjs ###
# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# End of https://www.gitignore.io/api/nuxtjs,firebase